body {
    font: 12px '宋体', sans-serif;
    color: rgb(255, 204, 102);
}

a {
    color: rgb(255, 225, 144);
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.text-error {
    color:#b94a48;
}

.container {
    width: 443px;
    height: 271px;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
    background: url("../img/bg.jpg") no-repeat transparent;
}

.container #login-page {
    width: inherit;
    height: 210px;
    background: url("../img/login-bg.png") no-repeat transparent;
}

.container #zonelist-page {
    width: inherit;
    height: 210px;
    background: url("../img/zonelist-bg.png") no-repeat transparent;
}

#footer {
    padding: 6px 18px;
    height: 60px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    display: inline;
}

#login-wrapper {
    padding: 48px 0px 0px 54px;
    width: 180px;
}

#login-wrapper input[type="text"],input[type="password"] {
    width: 96px;
    border-style: none;
}

#login-wrapper input[type="checkbox"] {
    margin-top: 4px;
    cursor: pointer;
    border-style: none;
}

#login-btn {
    background: url("../img/login-btn.png") no-repeat;
    margin-top: 8px;
    border: none medium;
    display: block;
    cursor: pointer;
    width: 154px;
    height: 44px;
    text-indent: -999999px;
}

#login-btn:hover {
    background-position: left bottom;
}

#login-form table {
    border-collapse:separate;
    border-spacing:0 4px;
}

a.red-btn {
    background: url("../img/red-btn.png") no-repeat;
    width: 96px;
    height: 36px;
    line-height:36px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 225, 144);
}

a:hover.red-btn {
    background-position: left bottom;
}

.zonelist {
    padding-top: 0px;
    margin-left: 8px;
    line-height: 25px;
}

a.zone-btn {
    background: url("../img/zone-btn.png") no-repeat;
    width: 98px;
    height: 21px;
    line-height:21px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 225, 144);
}

a:hover.zone-btn {
    background-position: left bottom;
    text-decoration: underline;
}

.bx-prev {
    position: absolute;
    top: 84px;
    right: 4px;
    width: 18px;
    height: 18px;
    text-indent: -999999px;
    background: url(../img/icon_arrow_up.png) no-repeat;
}

.bx-next {
    position: absolute;
    top: 163px;
    right: 4px;
    width: 18px;
    height: 18px;
    text-indent: -999999px;
    background: url(../img/icon_arrow_down.png) no-repeat;
}

.bx-next:hover, .bx-prev:hover {
    background-position: left bottom;
}

#zonelist-top {
    height: 84px;
}

#last-played {
    padding-top: 44px;
    padding-left: 8px;
}

#welcome {
    float: right;
    background-color: #000000;
    padding: 3px;
}

#server-error-message {
    float: right;
    padding: 3px;
    position: absolute;
    top: 24px;
    right: 0px;
    width: 443px;
    text-align: center;
}

.text-shadow {
    display:inline-block;
    -webkit-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
    -moz-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
    text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
    *filter: Glow(Color=#000000, Strength=1);
}

#quick-play {
    float: right;
    position: absolute;
    right: 0px;
    top: 52px;
    color: rgb(255, 153, 0);
}

#quick-play input[type="text"] {
    border: solid 1px rgb(204, 204, 153);
    width: 36px;
    background-color: rgb(143, 122, 88);
    color: rgb(255, 225, 144);
}


#quick-play input[type="submit"] {
    border: solid 1px rgb(204, 0, 0);
    width: 60px;
    height: 18px;
    background-color: rgb(102, 0, 0);
    color: rgb(255, 153, 0);
}